#lv {
    back-view-color: #cccccc;
    padding: 0 10 0 10;
}

.folded-cell,
.expanded-cell {
    margin-top: 10; 
    border-radius: 5; 
    border-color: #444444; 
    border-width: 1;
    background-color: #eeeeee;
}

.folded-cell .item-nbr,
.expanded-cell .item-nbr {
    background-color: #949494; 
    color: #fefefe; 
    text-align: center;
}

.folded-cell.even .item-nbr,
.expanded-cell.even .item-nbr {
    background-color: blue;
}

.expanded-cell {
    /* height: 250; */
}

.expanded-cell .item-nbr {
    font-weight: bold;
    padding: 5;
    text-align: center;
}

.expanded-cell .label {
    padding: 15;
}